@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Holipop';
  src: url('../fonts/Holipop.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fragmentcore';
  src: url('../fonts/Fragmentcore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
  a.link {
    @apply font-medium text-lime-600 transition duration-150 hover:text-lime-700;
  }
}
